In [4]:
import pandas as pd

In [ ]:
# Don't change, there for reference if there is a mismatch in school name
translate = {
    'Penn': 'Pennsylvania', 
    'Pitt': 'Pittsburgh',
    'USC': 'Southern California',
    'UCSB':'UC-Santa Barbara', 
    'UIC': 'Illinois-Chicago',
    'Central Connecticut': 'Central Connecticut State', 
    'Uconn': 'Connecticut', 
    'UNC Wilmington':'North Carolina-Wilmington', 
    'Ole Miss':'Mississippi',
    'California':'University of California',
    'USC':'Southern California', 
    'BYU':'Brigham Young', 
    'HolyCross': 'Holy Cross', 
    'Crighton': 'Creighton', 
    'ETSU': 'East Tennessee State', 
    'LSU': 'Louisiana State', 
    "St. Joseph's": "Saint Joseph's", 
    "St. Peter's": "Saint Peter's"
    'UNC Asheville': 'North Carolina-Asheville', 
    'NC State': 'North Carolina State', 
    'UNC': 'North Carolina',
    'UCF': 'Central Florida', 
    'UTEP': 'Texas-El Paso', 
    'UTSA': 'Texas-San Antonio', 
    'VCU': 'Virginia Commonwealth', 
    "Saint Mary's": "Saint Mary's (CA)",
    'UNLV': 'Nevada-Las Vegas',
    'UMBC': 'Maryland-Baltimore County',
    'LIU-Brooklyn': 'Long Island University',
    'Detroit': 'Detroit Mercy',
    'Southern Miss': 'Southern Mississippi',
    'Umass': 'Massachusetts', 
    'SMU': 'Southern Methodist', 
    'TCU': 'Texas Christian', 
    'UNC Greensboro': 'North Carolina-Greensboro'
}

In [33]:
# Intialize data set
years = [
    '200001','200102', '200203', '200304', '200405', '200506', '200607', '200708', '200809', '200910',
    '201011', '201112', '201213','201314', '201415','201516', '201617', '201718', '201819'
]
for year in years:
    print("YEAR: ", year)
    basic_data = pd.read_excel(io="./data/formatted/basic/basicdata" + year + ".xlsx")
    playoff_data = pd.read_csv("./data/playoff/playoffdata" + year + ".csv")
    playoff_data.drop('season', axis=1, inplace=True)

    ## basic_data
    basic_schools = basic_data['School'].tolist()
    basic_schools.sort()

    ## play off data
    winnerNames = playoff_data['winnerName'].tolist()
    loserNames = playoff_data['loserName'].tolist()
    playoff_schools = list(dict.fromkeys(winnerNames + loserNames))
    playoff_schools.sort()

    ## comparing
    same = list()
    diff = list()
    results = playoff_schools.copy()
    for i in basic_schools: 
        if i in playoff_schools:
            same.append(i)
            results.remove(i)
        else: 
            diff.append(i)

    diff.sort()
    print('DIFF SCHOOLS')
    print(diff)
    print()
    print('PLAY OFF SCHOOL')
    print(results)
    print('---------------------------------------------')

YEAR:  200001
DIFF SCHOOLS
['Indiana', 'Winthrop']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200102
DIFF SCHOOLS
['Alcorn State']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200203
DIFF SCHOOLS
['Texas Southern']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200304
DIFF SCHOOLS
['Lehigh']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200405
DIFF SCHOOLS
['Alabama A&M']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200506
DIFF SCHOOLS
['Hampton']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200607
DIFF SCHOOLS
['Florida A&M']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200708
DIFF SCHOOLS
['Coppin State']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200809
DIFF SCHOOLS
['Alabama State']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  200910
DIFF SCHOOLS
['Winthrop']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201011
DIFF SCHOOLS
['Alabama State', 'Alabama-Birmingham', 'Little Rock', 'Southern California']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201112
DIFF SCHOOLS
['Iona', 'Lamar', 'Mississippi Valley State', 'University of California']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201213
DIFF SCHOOLS
['Boise State', 'Liberty', 'Long Island University', 'Middle Tennessee']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201314
DIFF SCHOOLS
['Iowa', "Mount St. Mary's", 'Texas Southern', 'Xavier']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201415
DIFF SCHOOLS
['Boise State', 'Brigham Young', 'Manhattan', 'North Florida']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201516
DIFF SCHOOLS
['Fairleigh Dickinson', 'Southern', 'Tulsa', 'Vanderbilt']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201617
DIFF SCHOOLS
['New Orleans', 'North Carolina Central', 'Providence', 'Wake Forest']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201718
DIFF SCHOOLS
['Arizona State', 'Long Island University', 'North Carolina Central', 'UCLA']

PLAY OFF SCHOOL
[]
---------------------------------------------
YEAR:  201819
DIFF SCHOOLS
['North Carolina Central', 'Prairie View', "St. John's (NY)", 'Temple']

PLAY OFF SCHOOL
[]
---------------------------------------------

In [35]:
# Intialize data set
years = [
    '200001', '200102', '200203', '200304', '200405', '200506', '200607', '200708', '200809', '200910',
    '201011', '201112', '201213','201314', '201415','201516', '201617', '201718', '201819'
]
for year in years:
    basic_data = pd.read_excel(io="./data/formatted/basic/basicdata" + year + ".xlsx")
    playoff_data = pd.read_csv("./data/playoff/playoffdata" + year + ".csv")
    playoff_data.drop('season', axis=1, inplace=True)

    ### Combining data

    # winner_data
    winner_data = playoff_data.iloc[:, :2]
    winner_data = winner_data.merge(basic_data, left_on='winnerName', right_on='School', how='left')
    winner_data.drop('School', axis=1, inplace=True)
    winner_data.drop('winnerName', axis=1, inplace=True)

    # loser data
    loser_data = playoff_data.iloc[:,2:]
    loser_data = loser_data.merge(basic_data, left_on='loserName', right_on="School", how='left')
    loser_data.drop("School", axis=1, inplace=True)
    loser_data.drop("loserName", axis=1, inplace=True)

    # put together 
    final_data = pd.concat([winner_data, loser_data], axis=1, join='outer')

    #save
    path = './data/formatted/playoff/playoffdata' + year + '.csv'
    final_data.to_csv(path_or_buf=path, index=False)

In [74]:
def swap(row):   
    d = {
        'season': [row.pop('season')],
        'teamAName': [row.pop('teamBName')],
        'teamASeed': [row.pop('teamBSeed')],
        'teamBName': [row.pop('teamAName')],
        'teamBSeed': [row.pop('teamASeed')],
    }
    updated_row = pd.DataFrame(data=d)
    return updated_row
    
def sortDataBySeed(year):
    playoff_data = pd.read_csv("./data/playoff/playoffdata" + year + ".csv")

    ## Swap columns so higher seed (lower value) on the left, lower seed (higher value) on the right
    updated_data = playoff_data.copy()
    updated_data.columns = ['season', 'teamAName', 'teamASeed', 'teamBName', 'teamBSeed']
    for index, row in updated_data.iterrows():
        if row['teamASeed'] > row['teamBSeed']:
            updated_data.loc[index,['teamAName', 'teamBName']] = updated_data.loc[index,['teamBName', 'teamAName']].values
            updated_data.loc[index,['teamASeed', 'teamBSeed']] = updated_data.loc[index,['teamBSeed', 'teamASeed']].values
    return updated_data


#################################################################################################
years = [
    '200001', '200102', '200203', '200304', '200405', '200506', '200607', '200708', '200809', '200910',
    '201011', '201112', '201213','201314', '201415','201516', '201617', '201718', '201819'
]

print(sortDataBySeed('200001'))

    season       teamAName  teamASeed             teamBName  teamBSeed
0   200001        Illinois          1    Northwestern State         16
1   200001       Tennessee          8             Charlotte          9
2   200001        Syracuse          5                Hawaii         12
3   200001          Kansas          4  Cal State Northridge         13
4   200001      Notre Dame          6                Xavier         11
..     ...             ...        ...                   ...        ...
58  200001        Maryland          3            Georgetown         10
59  200001        Stanford          1              Maryland          3
60  200001            Duke          1              Maryland          3
61  200001  Michigan State          1               Arizona          2
62  200001            Duke          1               Arizona          2

[63 rows x 5 columns]

In [70]:
def breakdownBracket(updated_data):
    first_round = None
    second_round = None
    third_round = None
    fourth_round = None
    semi_final = updated_data.iloc[60 : 62]
    final = updated_data.iloc[62 : 63]
    for region_index in range(0, 60, 15): 
        first = updated_data.iloc[region_index : region_index + 8]
        first_round = first if first_round is None else pd.concat([first_round, first])

        second = updated_data.iloc[region_index + 8 : region_index + 12]  
        second_round = second if second_round is None else pd.concat([second_round, second])

        third = updated_data.iloc[region_index + 12 : region_index + 14]
        third_round = third if third_round is None else pd.concat([third_round, third])

        fourth = updated_data.iloc[region_index + 14 : region_index + 15]
        fourth_round = fourth if fourth_round is None else pd.concat([fourth_round, fourth])
    return first_round, second_round, third_round, fourth_round, semi_final, final
 
##########################################################################################################
first, second, third, fourth, semi, final = breakdownBracket(updated_data)
final

    season teamAName  teamASeed teamBName  teamBSeed
62  200001      Duke          1   Arizona          2